<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Will Hennessy">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Will Hennessy -- an aspiring Software Engineer studying Computer Science at the University of Illinois">

        <title>Will Hennessy</title>

        <!-- Bootstrap CSS file -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Bootstrap JS file -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- Include my custom styles to override bootstrap components -->
        <link rel="stylesheet" type="text/css" href="/css/will_styles.css">
  
        <!-- Facebook Open Graph meta data -->
        <meta property="og:title" content="Will Hennessy"/>
        <meta property="og:url" content="http://www.willhennessy.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Will Hennessy"/>
        <meta property="og:description" content="Will Hennessy -- an aspiring Software Engineer studying Computer Science at the University of Illinois" />
        <meta property="og:image" content="http://www.hackillinois.org/img/og_logo_astro.png"/>

        {% block head %}{% endblock %}

    </head>

    <body> 
        <!-- Navigation Bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
              <ul class="nav navbar-nav">
                <li id="index"><a href="/">Home</a></li>
                <li id="aboutme"><a href="/aboutme">About Me</a></li>
                <li id="resume"><a href="/resume">Resume</a></li>
                <li id="projects"><a href="/projects">Projects</a></li>
                <li id="facebook"><a href="/facebook">Facebook</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <section class="backdrop"></section>

        <script>
            // set the current nav bar as class="active"
            var pathArray = window.location.pathname.split( '/' );
            var selected = pathArray[1];
            if(selected.length > 0) {
                $("#"+selected).addClass('active');
            }
            else {
                $("#index").addClass('active');
            }
        </script>

       {% block body %}{% endblock %}
       
    </body>

</html>