<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="author" content="Will Hennessy">
        <meta name="description" content="Will Hennessy -- an aspiring Software Engineer studying Computer Science at the University of Illinois">

        <title>Will Hennessy</title>

        <link rel="stylesheet" type="text/css" href="/css/topbar.css">
 
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Lato:700'>
  
        <link rel="icon" type="image/ico" href="/favicon.ico"/>

        <meta property="og:title" content="Will Hennessy"/>
        <meta property="og:url" content="http://www.willhennessy.com"/>
        <meta property="og:type" content="website"/>
        <meta property="og:site_name" content="Will Hennessy"/>
        <meta property="og:description" content="Will Hennessy -- an aspiring Software Engineer studying Computer Science at the University of Illinois" />
        <meta property="og:image" content="http://www.hackillinois.org/img/og_logo_astro.png"/>

        {% block head %}{% endblock %}

    </head>

    <body>
        <div class="topbar">
            <h1>Will Hennessy</h1>
            <div class="menubar">
                <div class="menuoption"> <a href="/">Home</a> </div>
                <div class="menuoption"> <a href="/aboutme">About me</a> </div>
                <div class="menuoption"> <a href="/resume">Resume</a> </div>
                <div class="menuoption"> <a href="/projects">Projects</a> </div>
            </div>
        </div>

       {% block body %}{% endblock %}
       
    </body>

</html>