{% extends "base/base.html" %}

{% block template_head %}
{% include 'base/default_css_and_fonts.html' %}
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.3.0/grids-min.css">
<link rel="stylesheet" type="text/css" href="/css/subpage.css">
<link rel="stylesheet" type="text/css" href="/css/masthead.css">
{% endblock template_head %}


{% block body %}
<div class="wrapper-stars bg-stars stars-masthead">
    <div id="grid" class="pure-g-r">
        <div id="column-main" class="pure-u-1 t-centered">
            <div id="logo">
                <div class="splash splash-masthead">
                    <a href="/">
                        <img class="logo-main-svg" src="/img/hackillinois_logo.svg">
                        <h5>Imagine. Learn. Launch.</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% block subpage_body %}{% endblock %}
<div class="pure-g-r footer">
    <div class="pure-u-1">
        <hr>
    </div>
    <div class="pure-u-1-2">
        <div class="footer-copy">
            &copy; HackIllinois 2014.
            Co-hosted by <a href="http://www.inin.com" target="_blank">Interactive Intelligence</a>.
            <div class="thanks">
                Thanks to <a href="http://cs.illinois.edu">CS@Illinois</a>, <a href="http://ece.illinois.edu/">ECE Illinois</a>, <a href="http://women.cs.illinois.edu/">WCS</a>, <a href="http://iefx.engineering.illinois.edu/">iEFX</a> and Engineering Initiatives.
            </div>
        </div>
    </div>
    <div class="pure-u-1-2">
        <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/schedule">Schedule</a></li>
            <li><a href="/travel">Travel</a></li>
            <li><a href="/sponsor">Sponsor</a></li>
        </ul>
    </div>
</div>
{% endblock body %}