html, body {
    width: 93%;
    height: 88%;
    margin: 0px;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 70px;
    background-color: #ffffff;
    border: 2px solid #ffffff ;
    border-radius: 15px;
}
 
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
 
.bar {
    fill: #33b5e5;
}
 
.bar-failed {
    fill: #CC0000;
}
 
.bar-running {
    fill: #669900;
}
 
.bar-succeeded {
    fill: #33b5e5;
}
 
.bar-killed {
    fill: #ffbb33;
}

.course-label {
    font-size: 16px;
    pointer-events: none;
}

.course-description {
    width: 140px;
}


/* Citation: Caged at http://bl.ocks.org/Caged/6476579 */
.d3-tip {
  line-height: 1;
  padding: 12px;
  background: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}