h1
{
    margin-top: 44px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #0000BB;
    font-weight: bold;
    text-align: center
}


.menubar
{
    text-align: center;
}

.menuoption
{
    font-size: 24px;
    color: #BB0000;
    display: inline;
    margin: 10px 30px 10px 30px;
}

a
{
    color: inherit;
}