{% extends "base/base.html" %}


{% block body %}

<div class="filler"></div>

<div class="main">
    <table class="centered-table">
        <tr>
            <td>
                <img src="img/senior_picture.jpg" width="250">
            </td>
            <td>
                <p>
                    Hi, my name is Will. I am a Sophomore in Computer Science at the University of Illinois, Urbana-Champaign.
                </p>

                <p>
                    I love to program -- mostly web development and Android apps.
                </p>
            </td>
        </tr>
</div>

{% endblock body %}