{% extends "base/base.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
{% endblock head %}


{% block body %}

<div class="main">
    <table>
        <tr>
            <td>
                <img src="img/senior_picture.jpg" width="250">
            </td>
            <td style="padding: 30px;">
                <p>
                I am a Sophomore at the University of Illinois, Urbana-Champaign.
                <br>
                Computer Science is my major.
                <br>
                I am from Gurnee, Illinois.
                <br>
                I like to program -- mostly web development and Android apps.
                <br>
                Nice to meet you!
                </p>
            </td>
        </tr>
</div>

{% endblock body %}