{% extends "base/base.html" %}


{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="https://dl-web.dropbox.com/get/will_name_carousel.png?_subject_uid=213742601&w=AADwaUhvmjS-qjBwkMPIIsIJkKbJ1bVKR58bKIwNn3pOlg"/>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<div class="filler"></div>

<div class="main">
  <table id="posts" class="table table-striped">
    <!-- rows are dynamically inserted from facebook by javascript -->
    <tbody>
    <tr><td class="status">Posts</td></tr>
    </tbody>
  </table>
</div>

<div class="filler"></div>

<!-- include the Facebook Platform API -->
<div id="fb-root"></div>
<script src="js/facebook.js"></script>

{% endblock body %}



