{% extends "base/base.html" %}


{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    </ol>   
    <!-- Carousel items -->
    <div class="carousel-inner">
        <div class="active item">
            <img src="https://dl-web.dropbox.com/get/will_name_carousel.png?_subject_uid=213742601&w=AADwaUhvmjS-qjBwkMPIIsIJkKbJ1bVKR58bKIwNn3pOlg"/>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<div class="filler"></div>

<div class="main">
  <table id="posts" class="table table-striped">
    <!-- rows are dynamically inserted from facebook by javascript -->
    <tbody>
    <tr><td class="status">Posts</td></tr>
    </tbody>
  </table>
</div>

<div class="filler"></div>


<!-- include the Facebook Platform API -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '610629679019028',
      status     : true,
      xfbml      : true
    });

    // the below code is executed immediately after the SDK loads

    /** Login to facebook **/
    FB.login(function(response) { }, {scope: 'user_photos'});

    var fb_access_token = "CAACEdEose0cBALxKHnG1mq9sXghq5TsRxR49PTIUUTPZAdArUYKt8jBXoW6V0vv8Phy42hauoejRF3Pev7U8rxle6evdZCCup25hQudNgr5IJnLCaZA9x1LoVfACb72qlZAYwBay2SWW5CMQj3GU0OxxD7HBicKaEUOitAxU9aRC7XmZAvueFnPG2G5xNHZAWwqhUKvGNHwAZDZD"

    /** Load all of my profile pictures **/
    FB.api("/me/albums?access_token=" + fb_access_token,
      function (response) {
        for (album in response.data)
        {
          // Find the Profile Picture album
          if (response.data[album].name == "Profile Pictures")
          {
            // Get a list of all photos in that album.
            FB.api(response.data[album].id + "/photos?access_token="+fb_access_token, function(response) {

              for (var i=0; i < response.data.length; i++) {
                src = response.data[i].images[0].source; // the image link
                $(".carousel-indicators").append( $('<li data-target="#myCarousel" data-slide-to="'+i+'"></li>') );
                $(".carousel-inner").append( $('<div class="item"><img src="'+src+'"/></div>') );
              }

            });
          }
        }
        $("#myCarousel").carousel(); // start spinning
    });


  /** Load the most recent posts from will hennessy site facebook page **/
  FB.api(
    "/willhennessysite/feed?access_token="+fb_access_token,
    function (response) {
      if (response && !response.error) {
        for(var i=0; i<response.data.length; i++) {
          $("#posts").append( $('<tr>'+response.data[i].message+'</tr>') );
          $("#posts").find('tbody')
            .append($('<tr>')
                .append($('<td>')
                    .append($('<h3>')
                      .attr('class', 'status')
                        .text(response.data[i].message)
                    )
                )
            );
        }
      }
    });


  };


  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

</script>


{% endblock body %}