{% extends "base/base.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
{% endblock head %}


{% block body %}

<div class="main">
    <p>

    <table>
        <tr><td>University of Illinois, Urbana-Champaign</td></tr>
        <tr><td>B.S. Computer Science</td><td>Expected May 2016</td></tr>
        <tr><td>Hoeft Technology & Management Minor</td></tr>
        <tr><td>M.C.S Computer Science</td><td>Expected May 2016</td></tr>
        <tr><td>Facebook, Software Engineering Intern</td><td>Summer 2016</td></tr>
        <tr><td>Other stuff</td></tr>
    </p>
</div>

{% endblock body %}